#return-to-top
  position: fixed
  bottom: 20px
  right: 20px
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.7)
  width: 50px
  height: 50px
  text-decoration: none
  -webkit-border-radius: 35px
  -moz-border-radius: 35px
  border-radius: 35px
  display: none
  -webkit-transition: all 0.3s linear
  -moz-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease
  z-index: 10
  i
    color: #fff
    margin: 0
    position: relative
    left: 16px
    top: 13px
    font-size: 19px
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -ms-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease
  &:hover
    background: rgba(0, 0, 0, 0.9)
    cursor: pointer
  &:hover i
    color: #fff
    top: 5px

.job_types
  label
    display: block
    position: relative
    padding-left: 25px
    margin-bottom: 12px
    cursor: pointer
    font-size: .9rem
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    &:hover input ~ .checkmark
      background-color: $dark_gray
  input[type=checkbox]
    position: absolute
    opacity: 0
    cursor: pointer
    &:checked ~ .checkmark
      background-color: $light_blue
      &:after
        display: block
        border: solid white
        border-width: 0 3px 3px 0
  .checkmark
    position: absolute
    top: 0
    left: 0
    height: 20px
    width: 20px
    background-color: $gray
    border-radius: 40%
    &:after
      content: ""
      position: absolute
      display:
      left: 8px
      top: 3px
      width: 5px
      height: 13px
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(45deg)

a.blue
  color: $blue

a.white
  color: $white

.special
  .card-body,
  .card-footer
    background-color: $dark_blue
    border-top: none
  h6
    color: $blue
  .btn-default
    background-color: $light_blue
    color: $white
