@mixin image-filter()
  &:before
    content: ""
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: linear-gradient(to bottom, $white, #113B7F)
    opacity: .6