@import url('https://fonts.googleapis.com/css?family=Barlow:400,800')

@import colors
@import helpers
@import mixins

body
  font-family: 'Barlow', sans-serif
  margin-top: 6rem
  color: $black

.btn-primary,
.btn-default,
.btn-light
  font-size: 1rem
  padding: 1rem 2.5rem

#logo
  -webkit-transition: all .2s
  transition: all .2s

#primary
  .nav
    margin-top: 3rem
    -webkit-transition: all .2s
    transition: all .2s
  .nav-item
    margin-left: .5rem
    margin-right: .5rem
    .nav-link
      text-transform: uppercase
      color: $dark_blue !important
      font-weight: bold
      font-size: .9rem
    .btn-outline-primary
      font-weight: bold
      border-color: $light_blue
      color: $light_blue !important
    &:not(.without-border).active,
    &:not(.without-border):hover
      border-bottom: 3px solid $dark_blue
  .user-dropdown
    img
      border: 2px solid $dark_blue
      border-radius: 50%

.breadcrumb
  margin-top: 8rem
  padding-top: 2rem
  padding-bottom: 4rem
  background: url(../img/bg-header.png) center
  background-size: cover
  position: relative
  &:before
    filter: grayscale(50%)

#page-header
  position: absolute
  bottom: .5rem
  left: 1rem
  font-size: 2.5rem
  font-weight: bold
  color: $dark_blue

#main-image
  position: relative
  @include image-filter()
  .text
    color: $white
    position: absolute
    top: 10rem
    p
      font-size: 1.5rem
    h4
      font-size: 3rem
      font-weight: bold
      span
        color: $dark_blue

#services
  .regular
    .card-img-overlay
      top: 12rem
    .card-header
      background-color: transparent
      border-bottom: none
    .card-body,
    .card-footer
      color: $dark_blue
    .image-filter
      width: 100%
      position: relative
      @include image-filter()

#video
  background: url('../img/intalent-team-video.png')
  background-position: top
  background-size: cover
  color: $dark_blue
  h2
    font-size: 3.1rem
  img
    transition: all .2s ease-in-out
    cursor: pointer
    &:hover
      transform: scale(1.1)

#metodologia
  h2,
  h3
    font-weight: bold
    color: $dark_blue
    small
      color: $light_blue

#metodologiaCarousel
  .carousel-indicators
    .active
      background-color: $light_blue
  .carousel-item
    @include image-filter()
  .carousel-caption
    .testimonial
      position: absolute
      background-color: $light_blue
      padding: 1rem
      bottom: 3rem
      left: -4.5rem
      width: 65%
    .name
      position: absolute
      bottom: 3rem
      right: -3rem
      width: 55%
      text-align: right

#news
  background-color: $dark_blue
  padding-top: 3rem
  padding-bottom: 3rem
  font-weight: bold
  .col-3:not(:last-child)
    border-right: 1px solid $light_blue
  span
    background-color: $light_blue
    padding: .6rem
    -webkit-border-radius: .5rem
    -moz-border-radius: .5rem
    border-radius: .5rem
  h4 a
    color: $white
  .date
    font-weight: 100
    font-size: .8rem

#clients
  img
    -webkit-filter: grayscale(1)
    filter: grayscale(1)

#not-found
  h2
    font-size: 3rem
    font-weight: bold
    color: $dark_blue

footer
  background-color: $dark_gray
  h5
    color: $blue
    font-weight: bold
  .phone-number
    font-size: 2rem
    font-weight: bold

.newsletter
  background-color: $white
  color: $light_blue

#menu-footer
  a
    color: $white
    padding: .2rem 0

.footer-job
  background-color: $blue
  h3
    font-size: 1.4rem
    color: $dark_blue
  ul
    color: $white
  li
    font-size: 1.2rem

.share-icons
  .fa-facebook
    color: #3b5998
  .fa-twitter
    color: #1da1f2
  .fa-linkedin
    color: #0077b5
  .fa-whatsapp
    color: #25d366
  .fa-envelope
    color: $gray