@import url("https://fonts.googleapis.com/css?family=Barlow:400,800");
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
  z-index: 10;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.job_types label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: .9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.job_types label:hover input ~ .checkmark {
  background-color: #32353D;
}

.job_types input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.job_types input[type=checkbox]:checked ~ .checkmark {
  background-color: #3FCCF5;
}

.job_types input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
  border: solid white;
  border-width: 0 3px 3px 0;
}

.job_types .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #808080;
  border-radius: 40%;
}

.job_types .checkmark:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 3px;
  width: 5px;
  height: 13px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

a.blue {
  color: #00CEF1;
}

a.white {
  color: #FFF;
}

.special .card-body,
.special .card-footer {
  background-color: #16408D;
  border-top: none;
}

.special h6 {
  color: #00CEF1;
}

.special .btn-default {
  background-color: #3FCCF5;
  color: #FFF;
}

body {
  font-family: 'Barlow', sans-serif;
  margin-top: 6rem;
  color: #5D6981;
}

.btn-primary,
.btn-default,
.btn-light {
  font-size: 1rem;
  padding: 1rem 2.5rem;
}

#logo {
  transition: all .2s;
}

#primary .nav {
  margin-top: 3rem;
  transition: all .2s;
}

#primary .nav-item {
  margin-left: .5rem;
  margin-right: .5rem;
}

#primary .nav-item .nav-link {
  text-transform: uppercase;
  color: #16408D !important;
  font-weight: bold;
  font-size: .9rem;
}

#primary .nav-item .btn-outline-primary {
  font-weight: bold;
  border-color: #3FCCF5;
  color: #3FCCF5 !important;
}

#primary .nav-item:not(.without-border).active, #primary .nav-item:not(.without-border):hover {
  border-bottom: 3px solid #16408D;
}

#primary .user-dropdown img {
  border: 2px solid #16408D;
  border-radius: 50%;
}

.breadcrumb {
  margin-top: 8rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: url(../img/bg-header.png) center;
  background-size: cover;
  position: relative;
}

.breadcrumb:before {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

#page-header {
  position: absolute;
  bottom: .5rem;
  left: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #16408D;
}

#main-image {
  position: relative;
}

#main-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #FFF, #113B7F);
  opacity: .6;
}

#main-image .text {
  color: #FFF;
  position: absolute;
  top: 10rem;
}

#main-image .text p {
  font-size: 1.5rem;
}

#main-image .text h4 {
  font-size: 3rem;
  font-weight: bold;
}

#main-image .text h4 span {
  color: #16408D;
}

#services .regular .card-img-overlay {
  top: 12rem;
}

#services .regular .card-header {
  background-color: transparent;
  border-bottom: none;
}

#services .regular .card-body,
#services .regular .card-footer {
  color: #16408D;
}

#services .regular .image-filter {
  width: 100%;
  position: relative;
}

#services .regular .image-filter:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #FFF, #113B7F);
  opacity: .6;
}

#video {
  background: url("../img/intalent-team-video.png");
  background-position: top;
  background-size: cover;
  color: #16408D;
}

#video h2 {
  font-size: 3.1rem;
}

#video img {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

#video img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#metodologia h2,
#metodologia h3 {
  font-weight: bold;
  color: #16408D;
}

#metodologia h2 small,
#metodologia h3 small {
  color: #3FCCF5;
}

#metodologiaCarousel .carousel-indicators .active {
  background-color: #3FCCF5;
}

#metodologiaCarousel .carousel-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #FFF, #113B7F);
  opacity: .6;
}

#metodologiaCarousel .carousel-caption .testimonial {
  position: absolute;
  background-color: #3FCCF5;
  padding: 1rem;
  bottom: 3rem;
  left: -4.5rem;
  width: 65%;
}

#metodologiaCarousel .carousel-caption .name {
  position: absolute;
  bottom: 3rem;
  right: -3rem;
  width: 55%;
  text-align: right;
}

#news {
  background-color: #16408D;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-weight: bold;
}

#news .col-3:not(:last-child) {
  border-right: 1px solid #3FCCF5;
}

#news span {
  background-color: #3FCCF5;
  padding: .6rem;
  border-radius: .5rem;
}

#news h4 a {
  color: #FFF;
}

#news .date {
  font-weight: 100;
  font-size: .8rem;
}

#clients img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#not-found h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #16408D;
}

footer {
  background-color: #32353D;
}

footer h5 {
  color: #00CEF1;
  font-weight: bold;
}

footer .phone-number {
  font-size: 2rem;
  font-weight: bold;
}

.newsletter {
  background-color: #FFF;
  color: #3FCCF5;
}

#menu-footer a {
  color: #FFF;
  padding: .2rem 0;
}

.footer-job {
  background-color: #00CEF1;
}

.footer-job h3 {
  font-size: 1.4rem;
  color: #16408D;
}

.footer-job ul {
  color: #FFF;
}

.footer-job li {
  font-size: 1.2rem;
}

.share-icons .fa-facebook {
  color: #3b5998;
}

.share-icons .fa-twitter {
  color: #1da1f2;
}

.share-icons .fa-linkedin {
  color: #0077b5;
}

.share-icons .fa-whatsapp {
  color: #25d366;
}

.share-icons .fa-envelope {
  color: #808080;
}

/*# sourceMappingURL=main.css.map */
